* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	width: 100vw;
	height: 100vh;
}

body {
	position: relative;
	background-color: whitesmoke;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.test_data--container {
	position: absolute;
	right: 5vw;
	width: fit-content;
	height: 150px;
	font-size: 25px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: solid 2px black;
	padding: 8px 10px 8px 10px;
}

.test_data {
	position: relative;
	margin-top: 15px;
}

.login-container {
	position: absolute;
	display: flex;
	width: 335px;
	height: 390px;
	font-size: 35px;
	background-color: white;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: solid 2px black;
	border-radius: 10px;
	margin-left: auto;
	padding-bottom: 10px;
	box-shadow: 0px 8px 50px -6px rgba(91, 91, 103, 1);
}

.login-form {
	position: absolute;
	top: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	height: fit-content;
	font-size: 35px;
}

.login-title {
	position: absolute;
	top: 1vh;
	display: flex;
	width: fit-content;
	height: fit-content;
	margin-bottom: 15px;
	font-size: 45px;
}

.namelabel {
	position: relative;
	margin-bottom: -32px;
	font-weight: 400;
}

.passwd-label {
	position: relative;
	margin: 15px 0 -21px 0;
	font-weight: 400;
}

#btn-login {
	position: relative;
	top: 7px;
	font-size: 30px;
	color: white;
	background-color: black;
	margin-top: 15px;
	border-radius: 8px;
	padding: 5px;
}

#btn-login:hover {
	background-color: lightgrey;
	color: black;
}

#btn-login:active {
	background-color: lightgrey;
	color: black;
	transform: translateY(4px);
}

.username-input {
	font-size: 24px;
	margin-top: 5px;
}

.username-input:hover {
	cursor: crosshair;
}

input[type='password'] {
	font-size: 24px;
}

input:required {
	border: solid 1px black;
}

input:valid {
	border: solid 1px OliveDrab;
}

.tooltip-text {
	position: relative;
	visibility: hidden;
	z-index: 2;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
}

.tooltip-text::before {
	content: '';
	position: absolute;
	transform: rotate(45deg);
	background-color: black;
	padding: 7px;
	z-index: 1;
}

.tooltip2-text {
	position: relative;
	visibility: hidden;
	z-index: 2;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
}

.tooltip2-text::before {
	content: '';
	position: absolute;
	transform: rotate(45deg);
	background-color: black;
	padding: 7px;
	z-index: 1;
}

#right {
	top: 37px;
	left: 104%;
}

#right::before {
	top: 35%;
	left: -4%;
	z-index: -1;
}

.hidden {
	visibility: hidden;
}

.go-to-register {
	position: absolute;
	top: 93%;
	left: 35%;
	background: none;
	border: none;
	font-size: 15px;
}

.go-to-register:hover {
	color: slategray;
}

.reg_link {
	position: absolute;
	right: 790px;
	top: 520px;
	width: fit-content;
	height: fit-content;
}

#welcomemessage {
	position: relative;
	bottom: 272px;
	display: flex;
}

@media screen and (max-width: 480px) {
	body {
		width: 480px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
	}
	h1 {
		position: absolute;
		right: 10vw;
		font-size: 20px;
		padding: 0 15px 0 5px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 50%;
		margin: 0;
	}
	.login-container {
		position: absolute;
		left: 5vw;
		width: 60vw;
	}

	.namelabel {
		left: 5%;
	}

	.username-input {
		position: relative;
		width: 90%;
		left: 5%;
	}

	.passwd-label {
		position: relative;
		left: 5%;
	}
	input[type='password'] {
		position: relative;
		width: 90%;
		left: 5%;
	}

	#btn-login {
		position: relative;
		left: 5%;
		width: 90%;
	}

	.reg_link {
		position: absolute;
		right: 70vw;
		top: 64vh;
		margin-top: 18px;
	}
}
